<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="pdfData">
      <h2 data-cy="pdfDataDetailsHeading"><span jhiTranslate="palaeotrekappApp.pdfData.detail.title">Pdf Data</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ pdfData.id }}</span>
        </dd>
        <dt><span jhiTranslate="palaeotrekappApp.pdfData.dnaType">Dna Type</span></dt>
        <dd>
          <span jhiTranslate="{{ 'palaeotrekappApp.DnaType.' + pdfData.dnaType }}">{{ pdfData.dnaType }}</span>
        </dd>
        <dt><span jhiTranslate="palaeotrekappApp.pdfData.detailedType">Detailed Type</span></dt>
        <dd>
          <span jhiTranslate="{{ 'palaeotrekappApp.DetailedType.' + pdfData.detailedType }}">{{ pdfData.detailedType }}</span>
        </dd>
        <dt><span jhiTranslate="palaeotrekappApp.pdfData.pdfId">Pdf Id</span></dt>
        <dd>
          <span>{{ pdfData.pdfId }}</span>
        </dd>
        <dt><span jhiTranslate="palaeotrekappApp.pdfData.dateOfCreation">Date Of Creation</span></dt>
        <dd>
          <span>{{ pdfData.dateOfCreation | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="palaeotrekappApp.pdfData.userId">User Id</span></dt>
        <dd>
          <span>{{ pdfData.userId }}</span>
        </dd>
        <dt><span jhiTranslate="palaeotrekappApp.pdfData.pdf">Pdf Info</span></dt>
        <dd>
          <div *ngIf="pdfData.pdf">
            <a (click)="usePreloadedFile(pdfData.pdf, pdfData.pdfContentType)" jhiTranslate="entity.action.open">open</a>
            {{ pdfData.pdfContentType }}, {{ byteSize(pdfData.pdf) }}
          </div>
        </dd>
        <dt><span>Pdf</span></dt>
        <dd>
          <div *ngIf="pdfData.pdf">
            <ngx-extended-pdf-viewer [src]="src" [useBrowserLocale]="true"></ngx-extended-pdf-viewer>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/pdf-data', pdfData.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
